// .nav-padding-top {
// 	padding-top: $homepage-vertical-padding;
// }

#top-nav-container {
	@extend .absolute-horizontal-center;
	top: $homepage-vertical-padding;
    position: fixed;
}

#hamburger-menu-container {
    cursor: pointer;
}

#hamburger-menu-svg {
    transition: fill .35s;
}

// Custom Hamburger Menu Code 2

#hamburger-menu-container {
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

#hamburger-menu {
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: red;
}

#hamburger-menu div {
    // transition: background-color .3s ease-out s; 
}


#bar1, #bar2 {
    position: absolute;
    top: 8.5px;
    right: 0;
    display: block;
    font-size: 10px;
    padding: 0;
    -webkit-appearance: none;
    color: #ffffff;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(0deg);
    // transition: top .2s ease-in-out;
    // transition: top 1s ease-in-out, transform 1s ease-out, background-color 1s ease-in-out;
    // -webkit-transform: rotate(0deg);
    // -webkit-transition: transform .3s ease-out, width .2s ease-in-out;

    // transition: transform 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95), top 1s ease-in-out;
    // -webkit-transition: width 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#bar1 {
    // width: 66.66%;
    width: 100%;
    // transition: transform .3s ease-out, width .2s ease-in-out .1s, background-color .3s ease-in-out .2s;
    // -webkit-transition: transform .3s ease-out, width .2s ease-in-out;
    // -webkit-transition: width 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    // transition: width 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#bar2 {
    top: 20px;
    // transition: top 1s ease-in-out;
}

#bar1.active {
    top:14px !important; 
    transform: rotate(135deg);
    // transition: top 1s ease-in-out, transform 1s ease-out, background-color 1s ease-in-out;
    transition: transform 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95), top 1s ease-in-out;
    // -webkit-transform: rotate(135deg);
    // -webkit-transition: transform 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#bar2.active {
    top:14px !important;
    transform: rotate(45deg);
    // transition: top 1s ease-in-out, transform 1s ease-out, background-color 1s ease-in-out;
    transition: transform 1000ms cubic-bezier(0.445, 0.05, 0.55, 0.95), top 1s ease-in-out;
    // -webkit-transform: rotate(45deg);
    // -webkit-transition: transform 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
// Custom Hamburger Menu Code

// #hamburger-menu-container {
//     cursor: pointer;
//    // background-color: yellow;
//    height: 30px;
//    position: relative;
//    width: 30px;
// }

// #hamburger-menu {
//     top: 0;
//     bottom: 0;
//     margin: auto;
//     width: 30px;
//     height: 30px;
//     position: absolute;
//     background-color: red;
// }

// #hamburger-menu span {
//     display: block;
//     position: absolute;
//     height: 1.5px;
//     width: 100%;
//     transition: background-color .35s;
//     opacity: 1;
//     -webkit-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transition: .25s ease-in-out;
//     -moz-transition: .25s ease-in-out;
//     -o-transition: .25s ease-in-out;
//     transition: .25s ease-in-out;

// }



// #hamburger-menu span:nth-child(1) {
//     top: 8.25px;
//     right: 0px;
//     width: 66.66%;
//     -webkit-transform-origin: left center;
//     -moz-transform-origin: left center;
//     -o-transform-origin: left center;
//     transform-origin: left center;

// }

// #hamburger-menu span:nth-child(2) {
//     top: 20.25px;
//     right: 0px;
//     width: 100%;
//     -webkit-transform-origin: right center;
//     -moz-transform-origin: right center;
//     -o-transform-origin: right center;
//     transform-origin: right center;
// }

// #hamburger-menu.open span:nth-child(1) {
//     -webkit-transform: rotate(45deg);
//     -moz-transform: rotate(45deg);
//     -o-transform: rotate(45deg);
//     transform: rotate(135deg) translate(-22px, -15px);
//     // top: 14.76px;
//     // left: .25px;
//     width: 100%;
// }

// #hamburger-menu.open span:nth-child(2) {
//     -webkit-transform: rotate(45deg);
//     -moz-transform: rotate(45deg);
//     -o-transform: rotate(45deg);
//     transform: rotate(45deg) translate(0px, 6px);
//     // top: 25px;
//     // left: 4.25px;
//     width: 100%;
// }


// Slide Down Nav Menu

#nav-container {
    margin-top: $homepage-vertical-padding;
	// margin-top: 10vh;
    height: 87.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-top-buffer {
    margin-top: 5vh;
}

#say-hello-container {
    align-self: flex-end;
    // position: absolute;
    // bottom: 0px;
}

#nav-second-row {
    // margin-top: 45px;
}




.nav-link-margin-bottom {
    margin-bottom: .6667em;
}

/* The side navigation menu */
.sidenav {
    height: 0; /* 100% Full-height */
    width: 100vw; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    // left: 0;
    background-color: #ffffff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    transition: height 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}



/* The navigation menu links */
.sidenav a {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    // font-size: 25px;
    color: #818181;
    display: block;
    // transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    // position: absolute;
    // top: 0;
    // right: 25px;
    // font-size: 36px;
    // margin-left: 50px;
}


#row-container {
    margin-top: 35px;
    margin-left: 6vw;
    margin-right: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

#row-one {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#row-two {
    width: 100%;
}

#row-three {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}