html {
    // background-color: rgba(0, 0, 0, .02);
}

#loader {
	position: absolute;
	right: 25vw;
	top: 25vh;
	color: red;
}

li {
	margin-bottom: 5px !important;
}

::selection {
  background: $body-color; /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: white; /* Gecko Browsers */
  color: $body-color;
}


.black-background-text::selection {
  background: white; /* WebKit/Blink Browsers */
  color: $body-color;
}


.black-background-text::-moz-selection {
  background: white; /* Gecko Browsers */
  color: $body-color;
}

ol {
  list-style: decimal !important;
  padding-left: 1em !important;
}

ol li {
  padding-left: .5em;
}


.horizontal-rule {
  height: 1px;
  background-color: #d8d8d8;
}