* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  	font-size: calc(.00485*100vw + 14.18182px);
  	@include media-breakpoint-up(xl) { 
  		font-size: $font-size;
	}
}


// 300px: 31px - 1200px: 60px
h1 {
	font-size: calc(.0325*100vw + 21px);
	@include media-breakpoint-up(xl) { 
  		font-size: 3rem;
	}
	line-height: 1.25em;
}

// 300px: 31px - 1200px: 50px

h2 {
	font-size: calc(.0211*100vw + 24.6667px);
	@include media-breakpoint-up(xl) { 
  		font-size: 2.5rem;
	}
	line-height: 1.5em;
}

// 300px: 24px - 1200px: 40px
h3 {
	font-size: calc(.01333*100vw + 24px);
	@include media-breakpoint-up(xl) { 
  		font-size: 2rem;
	}
	line-height: 1.5em;
}

h4 {
	font-size: 1.5rem;
	line-height: 1.75em;
}

body {
	line-height: $line-height-base;
}

b {
	font-family: 'akkurat-bold';
}

.subtitle {
	text-transform: uppercase;
	@extend .bold;
	color: $secondary-text-color;
	letter-spacing: .06667em;
	font-size: calc(.00556*100vw + 8.33333px);
	@include media-breakpoint-up(xl) { 
  		font-size: 15px;
	}

}

.bold {
	font-family: 'akkurat-bold';
}

.regular {
	font-family: 'akkurat-regular';
}

.light {
	font-family: 'akkurat-light';
}