* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  	font-size: calc(.00485*100vw + 14.18182px);
  	@include media-breakpoint-up(xl) { 
  		font-size: 20px;
	}
}

h1 {
	// font-size: calc(.02667*100vw + 28px);
	font-size: calc(.0325*100vw + 21px);
	@include media-breakpoint-up(xl) { 
  		font-size: 60px;
	}
	line-height: $line-height-lg;
}

h2 {
	font-size: calc(.01333*100vw + 24px);
	@include media-breakpoint-up(xl) { 
  		font-size: 40px;
	}
}

body {
	line-height: $line-height-base;
}


h3 {
	font-size: 1.5rem;
}

b {
	font-family: 'akkurat-bold';
}

.subtitle {
	text-transform: uppercase;
	@extend .bold;
	color: $secondary-text-color;
	letter-spacing: .06667em;
	font-size: calc(.00556*100vw + 8.33333px);
	@include media-breakpoint-up(xl) { 
  		font-size: 15px;
	}

}

.bold {
	font-family: 'akkurat-bold';
}

.regular {
	font-family: 'akkurat-regular';
}

.light {
	font-family: 'akkurat-light';
}