* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	// 300: 15.75px, 400: 16px, 1200: 18px
	font-size: calc(.0025*100vw + 15px);
  	@include media-breakpoint-up(xl) { 
  		font-size: $font-size;
	}
	// font size 20
 //  	font-size: calc(.00485*100vw + 14.18182px);
 //  	@include media-breakpoint-up(xl) { 
 //  		font-size: $font-size;
	// }
}



h1 {

	// 400px: 34px, 1200px: 54px
	font-size: calc(.025*100vw + 24px);
	@include media-breakpoint-up(xl) { 
  		font-size: 3rem;
	}
	// 300px: 31px - 1200px: 60px
	// font-size: calc(.0325*100vw + 21px);
	// @include media-breakpoint-up(xl) { 
 //  		font-size: 3rem;
	// }
	line-height: 1.25em;
}


h2 {
	// 400px: 34px, 1200px: 45px
	font-size: calc(.01375*100vw + 28.5px);
	@include media-breakpoint-up(xl) { 
  		font-size: 2.5rem;
	}

	// 300px: 31px - 1200px: 50px
	// font-size: calc(.0211*100vw + 24.6667px);
	// @include media-breakpoint-up(xl) { 
 //  		font-size: 2.5rem;
	// }
	line-height: 1.5em;
}

h3 {
	// 400px: 28px, 1200px: 36px
	font-size: calc(.01*100vw + 24px);
	@include media-breakpoint-up(xl) { 
  		font-size: 2rem;
	}

	// 300px: 24px - 1200px: 40px

	// font-size: calc(.01333*100vw + 24px);
	// @include media-breakpoint-up(xl) { 
 //  		font-size: 2rem;
	// }
	line-height: 1.5em;
}

h4 {
		// 400px: 22px, 1200px: 27px
	font-size: calc(.00625*100vw + 19.5px);
	@include media-breakpoint-up(xl) { 
  		font-size: 1.5rem;
	}

	line-height: 1.75em;
}

body {
	line-height: $line-height-base;
}

b {
	font-family: 'akkurat-bold';
}

i {
	font-family: 'akkurat-light-italic';
}

.subtitle {
	text-transform: uppercase;
	@extend .bold;
	color: $secondary-text-color;
	letter-spacing: .06667em;
	font-size: calc(.00556*100vw + 8.33333px);
	@include media-breakpoint-up(xl) { 
  		font-size: 15px;
	}

}

.light-italic {
	font-family: 'akkurat-light-italic';
}

.bold {
	font-family: 'akkurat-bold';
}

.regular {
	font-family: 'akkurat-regular';
}

.light {
	font-family: 'akkurat-light';
}