#ases-case-study-bg-image {
	background: $cool-gray url('../images/ases/ases-cover-xxl.jpg') center / cover no-repeat;	
}

#ases-animation-video {
	margin-top: -.5%;
	margin-left: -.5%;
	margin-right: -.5%;
	margin-bottom: -2.1%;
	width: 101%;
	height: auto;
}

#ases-summit-packet {
	background: $cool-gray url('../images/ases/ases-summit-packet.jpg') center / cover no-repeat;
}