#firsthand-case-study-bg-image {
	background: #74C9FF url('../images/firsthand/firsthand-cover-xxl.jpg') center / cover no-repeat;
}

#forbes-logo {
	margin-top: 2rem;
	width: 10vw;
	max-width: 130px;
	min-width: 90px;
}

.firsthand-blue-background-color {
	background-color: #74C9FF;
}

#firsthand-mobile {
	width: 100vw;
	height: auto;
}