.home-canvas-one-text {
	font-size: calc(0.0175*100vw + 9px);
	line-height: 1.75em;
	color: white;
	@include media-breakpoint-up(xl) {
		font-size: 30px;
	}

	@include media-breakpoint-down(xs) {
		font-size: 16px;
	}
}

.home-tile-img-crop {
	width: 100%;
	object-fit: cover;
	height: auto; /*$home-tile-img-height;*/
}

.home-tile-caption {
	@extend .absolute-horizontal-center;
	width: 90%;
	bottom: 5%;
	background-color: red;
}


#home-canvas-one {
	background-color: black;
}

#home-canvas-one-header-container {
	text-align: right;
	@include media-breakpoint-down(md) {
		text-align: left;
	}

}

.homepage-header {
	text-align: right;
	display: block;
	@include media-breakpoint-down(md) {
		display: inline-flex;
	}
}

#scroll-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

#scroll-text {
	color: white;
	transform: rotate(90deg);
	transform-origin: right top 0;
	float: left;
	font-size: 16px;
}

#home-scroll-animation {
	height: 75px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	-webkit-animation: fadeIn 3.75s linear;
	-moz-animation: fadeIn 3.75s linear;
	-o-animation: fadeIn 3.75s linear;
	animation: fadeIn 3.75s linear;	
}

#home-scroll-animation::before {

	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 1px;
	height: 75px;
	background-color: white;
	content: ' ';


	-webkit-animation: scroll 1.2s cubic-bezier(1, 0, 0, 1) 4s infinite;
	-moz-animation: scroll 1.2s cubic-bezier(1, 0, 0, 1) 4s infinite;
	-o-animation: scroll- 1.2s cubic-bezier(1, 0, 0, 1) 4s infinite;
	animation: scroll 1.5s cubic-bezier(1, 0, 0, 1) 4s infinite;

}	

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	85% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes scroll {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  45% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  55% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

#home-canvas-two {
	background-color: $background-color;
	// display: block;
	// position: relative;
	// width: 100vw;
	// height: 100vh;
	// overflow: hidden;


}

.home-canvas-two-bg-image {
	position: absolute;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
}

#home-canvas-two-bg-image-lumi {
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/lumi-cover-xxl.jpg') center / cover no-repeat;
	// background-image: url('../images/lumi-cover-xxl.jpg');
	opacity: 0;
	transition: opacity 1s;
	// background-color: black;
}

#home-canvas-two-bg-image-ases {
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/ases-cover-xxl.jpg') center / cover no-repeat;
	opacity: 0;
	transition: opacity 1s;
}

#home-canvas-two-bg-image-firsthand {
	background: 
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url('../images/firsthand-cover-xxl.jpg') center / cover no-repeat;
	opacity: 0;
	transition: opacity 1s;
}

// #home-canvas-two::before {
	// content: ' ';
// 	// display: block;
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	left: 0;
// 	bottom: 0;
// 	width: 100%;
// 	height: 100%;
// 	background-image: url('../images/lumi-cover-xxl.jpg');
// 	background-size: cover;
// 	background-position: center;
	
// 	z-index: -1;
// 	opacity: 1;
// }

#canvas-two-header {
	margin-bottom: 50px;
}

#project-container div {
	margin-bottom: 40px;
}


#home-canvas-three {
	background-color: $cool-gray
}