
#home-canvas-one {
	background-color: black;
}

#home-canvas-one-header-container {
	text-align: right;
	@include media-breakpoint-down(md) {
		text-align: left;
	}

}

#home-canvas-one-header {
	display: block;
	@include media-breakpoint-down(md) {
		display: inline-flex;
	}
}

.home-canvas-one-text {
	font-size: calc(0.0175*100vw + 9px);
	line-height: 1.75em;
	color: white;
	@include media-breakpoint-up(xl) {
		font-size: 30px;
	}

	@include media-breakpoint-down(xs) {
		font-size: 16px;
	}
}

.home-tile-img-crop {
	width: 100%;
	object-fit: cover;
	height: auto; /*$home-tile-img-height;*/
}

.home-tile-caption {
	@extend .absolute-horizontal-center;
	width: 90%;
	bottom: 5%;
	background-color: red;
}