@import "abstracts/_variables";

.viewport-height {
	height: 100vh;
}

.viewport-width {
	width: 100vw;
}

.container-vertical-padding {
	padding-top: $container-vertical-padding;
	padding-bottom: $container-vertical-padding;
}

.viewport-dimensions {
	@extend .viewport-height;
	@extend .viewport-width;
}



