
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="/css/font-awesome.css" rel="stylesheet"> -->
    <!-- <link href="/css/reset.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}" />
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "flickity.css" }}"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
	<!-- <script src="/js/{{ index .Site.Data.js.hash "aos.js" }}"></script> -->
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
