<!-- <div id="nav-container" class="container nav-padding-top">
	<div class="row">
		<div class="col"><b>Jonathan Yan</b></div>
		<div class="col justify-content-flex-end">=</div>
	</div>
</div> -->

<div class="viewport-dimensions z-index-level-two" id="nav-overlay">
  
</div>

<div id="top-nav" class=" z-index-level-two">
	<div class="container" id="top-nav-container">
		<div class="row">
      <div class="col-lg-3">
        <a href="/" id="nav-home-btn"><span class="body-color"><b>Jonathan Yan</b></span></a>
      </div>
		</div>
    <div class="row">
      <div class="col-lg-3" id="nav-second-row">
    		<h1 class="nav-link-margin-bottom" id="nav-link-one"><a class="animated-h1-link" href="/#2">Work</a></h1>
    		<h1 class="nav-link-margin-bottom" id="nav-link-two"><a class="animated-h1-link" href="/about/">About</a></h1>
    		<h1 class="nav-link-margin-bottom" id="nav-link-three"><a class="animated-h1-link" href="/contact/">Contact</a></h1>
      </div>
      <div class="col-lg-1 offset-lg-9">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-12" id="nav-third-row">
        <p style="margin-bottom: 0px;" id="nav-link-four">Connect</p>
        <a class="nav-link" id="nav-link-five" href="https://twitter.com/jonjyan" rel="noopener noreferrer" target="_blank">Twitter</a><br>
        <a class="nav-link" id="nav-link-six" href="https://www.instagram.com/jonjyan/" rel="noopener noreferrer" target="_blank">Instagram</a><br>
        <a class="nav-link" id="nav-link-seven" href="https://dribbble.com/jonjyan" rel="noopener noreferrer" target="_blank">Dribbble</a><br>
      </div>
    	<div class="col-lg-9 col-md-12 text-align-right-lg" id="say-hello-container">
    		<p class="no-margin-bottom">Say hello at</p>
    		<h4><a class="footer-link-solid-black-color" href="mailto:jonjyan@gmail.com" rel="noopener noreferrer" target="_blank">jonjyan[at]gmail[dot]com</a></h4>
    	</div>
    </div>
	</div>
</div>


<div id="hamburger-menu" class="container z-index-level-two">
	<div class="row">
    <div class="col-11"><a href="/" id="home-btn"><b>Jonathan Yan</b></a></div>
		<div class="col-1 align-item-center justify-content-flex-end">
      <div id="hamburger-menu-container">
        <div id="hamburger-menu-btn">
          <div class="white-background-color" id="bar1"></div>
          <div class="white-background-color" id="bar2"></div>
        </div>
        <!-- <div id="hamburger-menu">
          <span class="white-background-color"></span>
          <span class="white-background-color"></span>
        </div> -->
        <!-- <svg id="hamburger-menu" width="31px" height="15px" viewBox="0 0 31 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.900000036">
                <g id="hamburger-menu-svg" transform="translate(-1319.000000, -945.000000)" fill="#FFFFFF">
                    <g id="Group-14" transform="translate(1319.000000, 945.000000)">
                        <rect id="Rectangle" transform="translate(20.750000, 1.000000) rotate(-90.000000) translate(-20.750000, -1.000000) " x="20" y="-9" width="1.5" height="20"></rect>
                        <rect id="Rectangle" transform="translate(15.750000, 14.000000) rotate(-270.000000) translate(-15.750000, -14.000000) " x="15" y="-1" width="1.5" height="30"></rect>
                    </g>
                </g>
            </g>
        </svg> -->
      </div>
		</div>
	</div>
</div>