<div class="viewport-dimensions z-index-level-two" id="nav-overlay"></div>

<div id="top-nav" class=" z-index-level-two">
	<div class="container" id="top-nav-container">
		<div class="row">
      <div class="col-lg-3">
        <a href="{{ "/" | relURL }}" id="nav-home-btn"><span class="body-color regular">Jonathan Yan</span></a>
      </div>
		</div>
    <div class="row">
      <div class="col-lg-3" id="nav-second-row">
    		<h1 class="nav-link-margin-bottom" id="nav-link-one"><a class="animated-h1-link" href="/#2">Work</a></h1>
    		<h1 class="nav-link-margin-bottom" id="nav-link-two"><a class="animated-h1-link" href="/about/">About</a></h1>
    		<h1 class="nav-link-margin-bottom" id="nav-link-three"><a class="animated-h1-link" href="/contact/">Contact</a></h1>
      </div>
      <div class="col-lg-1 offset-lg-9">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-12" id="nav-third-row">
        <p style="margin-bottom: 0px;" id="nav-link-four">Connect</p>
        <a class="nav-link" id="nav-link-five" href="https://twitter.com/jonjyan" rel="noopener noreferrer" target="_blank">Twitter</a><br>
        <a class="nav-link" id="nav-link-six" href="https://www.instagram.com/jonjyan/" rel="noopener noreferrer" target="_blank">Instagram</a><br>
        <a class="nav-link" id="nav-link-seven" href="https://dribbble.com/jonjyan" rel="noopener noreferrer" target="_blank">Dribbble</a><br>
      </div>
    	<div class="col-lg-9 col-md-12 text-align-right-lg" id="say-hello-container">
    		<p class="no-margin-bottom">Say hello at</p>
    		<h4><a class="footer-link-solid-black-color" href="mailto:jonjyan@gmail.com" rel="noopener noreferrer" target="_blank">jonjyan[at]gmail[dot]com</a></h4>
    	</div>
    </div>
	</div>
</div>


<div id="hamburger-menu" class="container z-index-level-two">
	<div class="row">
    <div class="col-11"><a class="regular" href="{{ "/" | relURL }}" id="home-btn">Jonathan Yan</a></div>
		<div class="col-1 align-item-center justify-content-flex-end">
      <div id="hamburger-menu-container">
        <div id="hamburger-menu-btn">
          <div class="white-background-color" id="bar1"></div>
          <div class="white-background-color" id="bar2"></div>
        </div>
      </div>
		</div>
	</div>
</div>