{{ define "main" }}
  <!-- <div id="prev-next-btn-container"></div> -->
  <!-- <button class="prev-btn">
    Prev
  </button> -->

  <!-- <div class="carousel js-flickity" data-flickity='{ "wrapAround": true, "autoPlay": true, "autoPlay": 4000, "pageDots": false, "accessibility": true }'>
    <div class="carousel-cell" id="carousel-background-img-one" alt="ASES Rebrand">
      <div class="container white-text-color" id="homepage-caption-container">
        <div class="row" id="homepage-caption-row">
          <div class="col-lg-5 col-md-12">
            <h3>
              <span class="regular">ASES Rebrand</span>
              <br>
              <span class="light">A rebrand for a global entrepreneurship society.</span>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-cell" id="carousel-background-img-two" alt="Lumi Mirror">
      <div class="container white-text-color" id="homepage-caption-container">
        <div class="row" id="homepage-caption-row">
          <div class="col-lg-5 col-md-12">
            <h3>
              <span class="regular">Lumi Mirror</span>
              <br>
              <span class="light">A gesture controlled smart mirror.</span>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-cell" id="carousel-background-img-three" alt="Firsthand Delivery">
      <div class="container white-text-color" id="homepage-caption-container">
        <div class="row" id="homepage-caption-row">
          <div class="col-lg-5 col-md-12">
            <h3>
              <span class="regular">Firsthand Delivery</span>
              <br>
              <span class="light">On-demand retail delivery.</span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div> -->

    

  <div class="container container-vertical-padding">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <h1>Selected Works</h1>
      </div>
      <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12">
        <div>
          <p>
            Hi there, I’m Jonathan Yan, a San Francisco based Product Designer. With a background starting companies, my strength lies in solving  design problems with business constraints and goals in mind. I’ve had the priviledge of working at companies like Yahoo and Tank Design and most recently I co-founded a startup called Firsthand (YC W17).
          </p>
          <p>
            Below is some of my work.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="texture-container">
    <div class="container section-divider-top">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 img-group-margin-btm">
          <a href="#" class="home-tile">
            <div class="home-tile-caption faded-out">
              <p class="no-margin-bottom text-align-center">Identity</p>
              <p class="no-margin-bottom text-align-center">ASES Rebrand</p>
            </div>
            <img class="home-tile-img-crop" src="/images/ases-home-tile.jpg">
          </a>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 img-group-margin-btm">
          <a href="#" class="home-tile">
            <div class="home-tile-caption faded-out">
              <p class="no-margin-bottom text-align-center">Interactive</p>
              <p class="no-margin-bottom text-align-center">Lumi Mirror</p>
            </div>
            <img class="home-tile-img-crop" src="/images/ases-home-tile.jpg">
          </div>
        </a>
        <div class="col-lg-6 col-md-12 col-sm-12 img-group-margin-btm">
          <a href="#" class="home-tile">
            <div class="home-tile-caption faded-out">
              <p class="no-margin-bottom text-align-center">Interactive</p>
              <p class="no-margin-bottom text-align-center">Firsthand Delivery</p>
            </div>
            <img class="home-tile-img-crop" src="/images/ases-home-tile.jpg">
          </a>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 img-group-margin-btm">
          <a href="#" class="home-tile">
            <div class="home-tile-caption faded-out">
              <p class="no-margin-bottom text-align-center">Product Design</p>
              <p class="no-margin-bottom text-align-center">Chair Shelf</p>
            </div>
            <img class="home-tile-img-crop" src="/images/ases-home-tile.jpg">
          </a>
        </div>
        <div class="col-lg-6 col-md-12 offset-lg-6 col-sm-12">
          <a href="#" class="home-tile">
            <div class="home-tile-caption faded-out">
              <p class="no-margin-bottom text-align-center">Identity</p>
              <p class="no-margin-bottom text-align-center">Whym</p>
            </div>
            <img class="home-tile-img-crop" src="/images/ases-home-tile.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-vertical-padding">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <h1>Everywhere <span class="secondary-text-color">@jonjyan</span></h1>
      </div>
      <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12">
        <p>
          Want to chat? I’m always down to meet interesting people and take on exciting projects. Feel free to say hello!
        </p>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <ul>
              <li>Contact</li>
              <li class="secondary-text-color">jonjyan@gmail.com</li>
            </ul>
          </div>
          <div class="col-lg-6 col-sm-6">
            <ul>
              <li>Follow</li>
              <li class="secondary-text-color">Twitter</li>
              <li class="secondary-text-color">Instagram</li>
              <li class="secondary-text-color">Dribbble</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    
  </div>


<!--  <picture>
    <source srcset="examples/images/extralarge.jpg" media="(min-width: 1000px)">
    <source srcset="examples/images/art-large.jpg" media="(min-width: 800px)">
    <img srcset="examples/images/art-medium.jpg" alt="…">
  </picture> -->
{{end}}

