{{ define "main" }}

  <!-- Canvas 1 -->
  <div class="viewport-dimensions display-flex align-item-center" id="home-canvas-one">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12" id="home-canvas-one-header-container">
          <h1 class="homepage-header">
            <span class="white-text-color">Jonathan</span>
            &nbsp;<span class="tertiary-text-color">Yan</span>
          </h1>
        </div>
        <div class="col-lg-7 offset-lg-1 col-md-12">
          <p class="home-canvas-one-text">
            Hi there, I’m Jonathan. I’m a digital designer from Los Angeles currently living in San Francisco. In the past, I’ve had the priviledge of working at places like Yahoo and Tank Design. Most recently I started a company called Firsthand (YC W17).
          </p>
          <p class="home-canvas-one-text">
            Below is some of my work.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="scroll-container">
    <div class="row">
      <div class="col offset flex-end">
        <p class="landscape-hidden" id="scroll-text">Scroll Down</p>
      </div>
    </div>
  </div>
  <div class="landscape-hidden" id="home-scroll-animation"></div>

  <!-- Canvas 2 -->
  <div class="viewport-dimensions display-flex align-item-center" id="home-canvas-two">
    <div class="home-canvas-two-bg-image" id="home-canvas-two-bg-image-lumi"></div>
    <div class="home-canvas-two-bg-image" id="home-canvas-two-bg-image-ases"></div>
    <div class="home-canvas-two-bg-image" id="home-canvas-two-bg-image-firsthand"></div>
    <div class="container container-vertical-padding">
      <div class="row">
        <div class="col-lg-3 offset-lg-2 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-align-center-md">
          <h1 class="homepage-header" id="canvas-two-header">
            <span>Selected</span>
            &nbsp;<span id="canvas-two-subheader" class="secondary-text-color">Works</span>
          </h1>
        </div>
        <div class="col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-align-center-md" id="project-container">
          <a name="lumi" id="lumi-project" class="project-background-image" href="">
            <div>
              <span class="subtitle">INTERACTIVE</span>
              <h2>Lumi Mirror</h2>
            </div>
          </a>
          <a name="ases" class="project-background-image" href="">
            <div>
              <span class="subtitle">IDENTITY</span>
              <h2>ASES Rebrand</h2>
            </div>
          </a>
          <a name="firsthand" class="project-background-image" href="">
            <div>
              <span class="subtitle">INTERACTIVE</span>
              <h2>Firsthand Delivery</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Canvas 3 -->
  <div class="viewport-dimensions display-flex align-item-center" id="home-canvas-three">
    <div class="container container-vertical-padding">
      <div class="row">
        <div class="col-lg-3 offset-lg-2 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-align-center-md">
          <h1 class="homepage-header" id="canvas-two-header">
            <span>Side</span>
            &nbsp;<span class="secondary-text-color">Projects</span>
          </h1>
        </div>
        <div class="col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-align-center-md" id="project-container">
          <div>
            <subtitle>INTERACTIVE</subtitle>
            <h2>Lumi Mirror</h2>
          </div>
          <div>
            <subtitle>IDENTITY</subtitle>
            <h2>ASES Rebrand</h2>
          </div>
          <div>
            <subtitle>INTERACTIVE</subtitle>
            <h2>Firsthand Delivery</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-vertical-padding">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <h1>Everywhere <span class="secondary-text-color">@jonjyan</span></h1>
      </div>
      <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12">
        <p>
          Want to chat? I’m always down to meet interesting people and take on exciting projects. Feel free to say hello!
        </p>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <ul>
              <li>Contact</li>
              <li class="secondary-text-color">jonjyan@gmail.com</li>
            </ul>
          </div>
          <div class="col-lg-6 col-sm-6">
            <ul>
              <li>Follow</li>
              <li class="secondary-text-color">Twitter</li>
              <li class="secondary-text-color">Instagram</li>
              <li class="secondary-text-color">Dribbble</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    
  </div>


<!--  <picture>
    <source srcset="examples/images/extralarge.jpg" media="(min-width: 1000px)">
    <source srcset="examples/images/art-large.jpg" media="(min-width: 800px)">
    <img srcset="examples/images/art-medium.jpg" alt="…">
  </picture> -->
{{end}}

