{{ define "main" }}
  <script>$('#body-container').addClass(' fade-out');</script>
  <div id="homepage">
    <!-- Canvas 1 -->
    <div class="viewport-dimensions display-flex align-item-center canvas" id="home-canvas-one">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-12" id="home-canvas-one-header-container">
            <h1 class="homepage-header">
              <span class="white-text-color black-background-text">Jonathan</span>
              &nbsp;<span class="tertiary-text-color black-background-text">Yan</span>
            </h1>
          </div>
          <div class="col-lg-7 offset-lg-1 col-md-12 ">
            <p class="home-canvas-one-text black-background-text">
              Hi there, I’m Jonathan! I’m a digital designer from Los Angeles currently living in San Francisco. In the past, I’ve had the priviledge of working at places like Yahoo and Tank Design. Most recently I started a company called Firsthand (YC W17).
            </p>
            <p class="home-canvas-one-text black-background-text">
              Below is some of my work.
            </p>
          </div>
        </div>
      </div>
      <div class="container" id="scroll-container">
        <div class="row">
          <div class="col offset justify-content-flex-end">
            <p class="landscape-hidden black-background-text" id="scroll-text">Scroll Down</p>
          </div>
        </div>
      </div>
      <div class="landscape-hidden" id="home-scroll-animation"></div>
    </div>
      
    <!-- Canvas 2 -->
    <div class="viewport-dimensions display-flex align-item-center canvas background-image" id="home-canvas-two">
      <div class="bg-image" id="home-canvas-two-bg-image-lumi"></div>
      <div class="bg-image" id="home-canvas-two-bg-image-ases"></div>
      <div class="bg-image" id="home-canvas-two-bg-image-firsthand"></div>
      <div class="container container-vertical-margin">
        <div class="row">
          <div class="col-lg-3 offset-lg-2 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-align-center-md" data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="100" data-aos-duration="800">
            <h1 class="homepage-header" id="home-canvas-two-header" style="margin-bottom: 50px;">
              <span>Selected</span>
              &nbsp;<span id="home-canvas-two-subheader" class="secondary-text-color">Works</span>
            </h1>
          </div>
          <div class="col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-align-center-md" id="project-container" name="home-canvas-two-bg-image-">
            <a name="lumi" class="project-link" href="/work/lumi">
              <div style="margin-top:-20px;" data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="400" data-aos-duration="600">
                <span class="subtitle home-canvas-two-project-header">INTERACTIVE</span>
                <h3 class="home-canvas-two-project-name">Lumi Mirror</h3>
              </div>
            </a>
            <a name="ases" class="project-link" href="/work/ases">
              <div data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="500" data-aos-duration="1000">
                <span class="subtitle home-canvas-two-project-header">IDENTITY</span>
                <h3 class="home-canvas-two-project-name">ASES Rebrand</h3>
              </div>
            </a>
            <a name="firsthand" class="project-link" href="/work/firsthand">
              <div data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="600" data-aos-duration="1200">
                <span class="subtitle home-canvas-two-project-header">INTERACTIVE</span>
                <h3 class="home-canvas-two-project-name">Firsthand Delivery</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Canvas 3 -->
    <div class="viewport-dimensions display-flex align-item-center canvas background-image" id="home-canvas-three">
      <div class="bg-image" id="home-canvas-three-bg-image-chair-shelf"></div>
      <div class="bg-image" id="home-canvas-three-bg-image-daily-ui"></div>
      <div class="container container-vertical-margin" data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="100" data-aos-duration="600">
        <div class="row">
          <div class="col-lg-3 offset-lg-2 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-align-center-md" data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="200" data-aos-duration="800">
            <h1 class="homepage-header" id="home-canvas-three-header" style="margin-bottom: 50px;">
              <span>Side</span>
              &nbsp;<span id="home-canvas-three-subheader" class="secondary-text-color">Projects</span>
            </h1>
          </div>
          <div class="col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-align-center-md" id="project-container" name="home-canvas-three-bg-image-">
            <a name="chair-shelf" id="chair-shelf-project" class="project-link" href="/side-projects/chair-shelf">
              <div style="margin-top:-20px;" data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="400" data-aos-duration="600">
                <span class="subtitle home-canvas-three-project-header">PRODUCT DESIGN</span>
                <h3 class="home-canvas-three-project-name">Chair Shelf</h3>
              </div>
            </a>
            <a name="daily-ui" class="project-link" href="/side-projects/daily-ui">
              <div  data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="500" data-aos-duration="1000">
                <span class="subtitle home-canvas-three-project-header">INTERACTIVE</span>
                <h3 class="home-canvas-three-project-name">Daily UI</h3>
              </div>
            </a>
            <!-- <a name="firsthand" class="project-link" href="">
              <div data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="600" data-aos-duration="1500">
                <span class="subtitle home-canvas-three-project-header">INTERACTIVE</span>
                <h3 class="home-canvas-three-project-name">Firsthand Delivery</h3>
              </div>
            </a> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Canvas Four -->
    <div class="container container-vertical-padding partial-canvas" id="home-canvas-four">
      <div class="row">
        <div class="col-xl-4 offset-xl-0 col-lg-4 offset-lg-1 col-md-12 col-sm-12 text-align-right" data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="200" data-aos-duration="600">
          <h1 class="text-align-left-md">
            <span>Everywhere</span>
            &nbsp;<span class="secondary-text-color">@jonjyan</span>
          </h1>
        </div>
        <div class="col-xl-6 offset-xl-2 col-lg-6 offset-lg-1 col-md-12 col-sm-12" data-aos="fade" data-aos-anchor-placement="center-bottom" data-aos-once="true" data-aos-delay="300" data-aos-duration="1200">
          <p>
            Want to chat? I’m always down to meet interesting people and take on exciting projects. Feel free to say hello!
          </p>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <ul>
                <li>Contact</li>
                <li><a class="footer-link" href="mailto:jonjyan@gmail.com" rel="noopener noreferrer" target="_top">jonjyan[at]gmail[dot]com</a></li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6">
              <ul>
                <li>Follow</li>
                <li><a class="footer-link" href="https://twitter.com/jonjyan" rel="noopener noreferrer" target="_blank">Twitter</a></li>
                <li><a class="footer-link" href="https://www.instagram.com/jonjyan/" rel="noopener noreferrer" target="_blank">Instagram</a></li>
                <li><a class="footer-link" href="https://dribbble.com/jonjyan" rel="noopener noreferrer" target="_blank">Dribbble</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
{{end}}