{{ define "main" }}
	<script>$('#body-container').addClass(' fade-out');</script>
	<div id="contact-page">
		<div class="container container-vertical-padding" id="about-page-container">
			<div class="row">
				<div class="col-lg-4 justify-content-flex-end-lg justify-content-flex-start-md white-text-color">
					<div style="width: 100%;">
						<h1 class="black-background-text text-align-right-lg text-align-left-md">Say Hello</h1>
					</div>
				</div>
				<div class="offset-lg-2 col-lg-6 white-text-color">
					<p class="black-background-text">
						Resume available upon request. I'm occasionally open to freelance and remote work.
					</p>
					<p>
						You can find me @jonjyan at most places on the Internet.
					</p>
				</div>
			</div>
			<br>
          	<br>
			<div class="row">
	            <div class="offset-lg-6 col-6">
	            	<p class="white-text-color black-background-text">General Inquiries</p>
	            	<h3 class="white-text-color black-background-text"><a class="footer-link-solid-white-color" href="mailto:jonjyan@gmail.com" rel="noopener noreferrer" target="_blank">jonjyan@gmail.com</a></h3>
	            	<br>
	            	<br>
	            	<p class="white-text-color black-background-text">Social Media</p>
	            	<h3 class="white-text-color black-background-text"><a class="footer-link-solid-white-color" href="https://twitter.com/jonjyan" rel="noopener noreferrer" target="_blank">Twitter</a></h3>
	            	<h3 class="white-text-color black-background-text"><a class="footer-link-solid-white-color" href="https://www.instagram.com/jonjyan/" rel="noopener noreferrer" target="_blank">Instagram</a></h3>
	            	<h3 class="white-text-color black-background-text"><a class="footer-link-solid-white-color" href="https://dribbble.com/jonjyan" rel="noopener noreferrer" target="_blank">Dribbble</a></h3>
	            </div>
	            

          </div>
		</div>
	</div>

{{end}}